body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: none !important;
}

/* start of sil */

div[data-role="content"] {
    max-width: 95%;
    margin: auto;
}

#apiDetails table {
    min-width: 400px;
    width: 90%;
    margin: auto;
}

#apiDetails img {
    display: block;
    margin: auto;
}

#apiDetails td, #apiDetails tr {
    border: solid 1px black;
}

#apiDetails td {
    padding: 10px;
    width: 50%;
}

#convSelector {
    padding: 10px;
}

    #convSelector option, #converterForm option {
        padding: 10px;
    }

        #convSelector option:not(:first-child):hover {
            padding-left: 25px;
            font-weight: bold;
        }

        #convSelector option:first-child {
            color: gray;
        }

        #converterForm option:hover {
            padding-left: 15px;
            font-weight: bold;
        }

#linkRec, #linkFav, #linkOut {
    display: none;
}

.icon {
    width: 20px;
    height: 20px;
    display: block;
    margin: auto;
}

#lightBtn, #darkBtn, #user {
    float: right;
}

#user {
    margin: 15px 10px;
}
/* end of sil */

#menu, h2 {
    clear: both;
}

h2 {
    margin-left: 20px;
}

.light {
    color: black;
    background: linear-gradient(#87CEFA, #F0F8FF, #FFFAFA);
    border-bottom-color: black !important;
}

.dark {
    color: gainsboro;
    background: linear-gradient(black, black, #191970, #00008B);
    border-bottom-color: white !important;
}

#lightBtn {
    background: url(../images/sun.png) no-repeat;
}

#darkBtn {
    background: url(../images/moon.png) no-repeat;
    background-color: white;
}

#lightBtn, #darkBtn {
    width: 50px;
    height: 50px;
    background-size: 100%;
    border: 1px solid white;
    border-radius: 10px;
    margin: 5px;
}

.hide {
    display: none;
}

.custom-navbar ul li a {
    background: #F06E73; /* Old browsers */
    background: linear-gradient(#E89494, #F06E73) repeat scroll 0 0 #F06E73 !important;
    background: -moz-linear-gradient(#E89494, #F06E73) repeat scroll 0 0 #F06E73 !important; /* FF3.6+ */
    background: -webkit-linear-gradient(#E89494, #F06E73) repeat scroll 0 0 #F06E73 !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(#E89494, #F06E73) repeat scroll 0 0 #F06E73 !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(#E89494, #F06E73) repeat scroll 0 0 #F06E73 !important; /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E89494', endColorstr='#F06E73',GradientType=0 ); /* IE6-9 */
    font-family: inherit !important;
    color: white !important;
    font-size: 18px !important;
    font-weight: bold !important;
    text-decoration: none !important;
    font-style: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    text-shadow: none !important;
    border-bottom: 2px solid black;
    border-color: black !important;
}

.custom-navbar ul li a.ui-btn-active {
    background: linear-gradient(#EB8888, #E8AFAF) repeat scroll 0 0 #5393C5 !important;
    background: #E8AFAF; /* Old browsers */
    background: linear-gradient(#EB8888, #E8AFAF) repeat scroll 0 0 #E8AFAF !important; /* FF3.6+ */
    background: -webkit-linear-gradient(#EB8888, #E8AFAF) repeat scroll 0 0 #E8AFAF !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(#EB8888, #E8AFAF) repeat scroll 0 0 #E8AFAF !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(#EB8888, #E8AFAF) repeat scroll 0 0 #E8AFAF !important; /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EB8888', endColorstr='#E8AFAF',GradientType=0 ); /* IE6-9 */
}

.ui-btn.ui-corner-all, .ui-corner-all {
    border-radius: initial;
}

.ui-page-theme-a a, table.dataTable.display tbody td {
    border-color: #c6bdbd !important;
}

.ui-page-theme-a .ui-bar-inherit {
    border-top: 2px solid #000;
    background: #F06E73; /* Old browsers */
    background: linear-gradient(#E89494, #F06E73) repeat scroll 0 0 #F06E73 !important;
    background: -moz-linear-gradient(#E89494, #F06E73) repeat scroll 0 0 #F06E73 !important; /* FF3.6+ */
    background: -webkit-linear-gradient(#E89494, #F06E73) repeat scroll 0 0 #F06E73 !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(#E89494, #F06E73) repeat scroll 0 0 #F06E73 !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(#E89494, #F06E73) repeat scroll 0 0 #F06E73 !important; /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E89494', endColorstr='#F06E73',GradientType=0 ); /* IE6-9 */
}

#recentsContent, .ui-content {
    min-height: 700px;
}

#recentsTable, tr, th, td, tbody, thead, tfoot,
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate,
.dataTables_wrapper .dataTables_paginate .paginate_button {
    background-color: inherit !important;
    color: inherit !important;
    font-size: 18px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: normal !important;
    text-decoration: none !important;
    font-style: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
}

.ui-listview-inset > li > a.ui-btn {
    background-color: inherit !important;
    color: inherit !important;
    font-family: inherit !important;
    font-size: 16px;
    letter-spacing: 1px;
    border-left: none;
    border-right: none;
    border-top: 1px solid #989494;
    border-bottom: 1px solid #989494;
    text-shadow: none !important;
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
    text-shadow: none !important;
}
