.light {
    color: black;
    background-color:aliceblue;
}

.light div {
    background: linear-gradient(#87CEFA, #F0F8FF, #FFFAFA);
}

.dark {
    color:gainsboro;
    background-color: black;
}

.dark div {
    color: #F5FFFA;
    background: linear-gradient(black, black, #191970, #00008B);
}

#lightBtn {
    background: url(../images/sun.png) no-repeat;
}

#darkBtn {
    background: url(../images/moon.png) no-repeat;
    background-color: white;
}

#lightBtn, #darkBtn {
    width: 50px;
    height: 50px;
    background-size: 100%;
    border: 1px solid white;
    border-radius: 10px;
    margin: 5px;
}

.hide {
    display: none;
}

h2 {
    margin-left: 20px;
}

